<a href="https://colab.research.google.com/github/U328kar/Coursera-capstone-Project/blob/master/Lannet_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@markdown PROJECT

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel(r'Dummy.xlsx')
df.head(10)

   SR NO     NAME  ... Date of Resigning                Address
0      1    Akash  ...        2025-10-10   New Jersey-123456789
1      2    Astha  ...        2020-12-12     New York 123456789
2      3    Ayush  ...        2020-05-13   California-123456789
3      4   Ankita  ...        2025-12-20         Rome-987654321
4      5   Ashwin  ...        2024-12-20       Madrid 123456178
5      6     Amit  ...        2023-10-19     Malmo ff 435612789
6      7   Arastu  ...        2022-10-18     Amsterdam 12907856
7      8   Ojasvi  ...        2022-10-19       Gnoida 203040506
8      9   Utkrsh  ...        2029-12-20           Delhi 110092
9     10  Utkarsh  ...        2029-12-20           Delhi 110092

[10 rows x 6 columns]

In [ ]:
#NOw Q1.1) -Write a function in python that identify which columns have date in them

In [ ]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col])
        except ValueError:
            pass

In [ ]:
df.dtypes

SR NO                         int64
NAME                         object
Date of Birth        datetime64[ns]
Date of Joining      datetime64[ns]
Date of Resigning    datetime64[ns]
Address                      object
dtype: object

In [ ]:
# Q1.2) Using these date columns make new columns which are difference between these columns taking 2 at a time
# Q1.3) Drop all the original columns containing the date and just keep the newly computed columns

In [ ]:
def date_diff(dataframe):
    a=pd.DataFrame
    for col in dataframe.columns:
        if dataframe[col].dtype == 'object':
            try:
                dataframe[col] = pd.to_datetime(dataframe[col])
            except ValueError:
                pass
    a=dataframe.select_dtypes('datetime64[ns]')
    drop_col=a.columns
    b=0
    c=pd.DataFrame()
    for i in range(0,len(a.columns)):
        b+=1
        for j in range(b,len(a.columns)):
            c=c.append(a.iloc[:,i]-a.iloc[:,j],ignore_index=True)
    dataframe=dataframe.drop(columns=drop_col)
    a=c.T
    dataframe=pd.concat([dataframe,a],axis=1, sort=False)
    return dataframe

In [ ]:
df=date_diff(df)

In [ ]:
df.head()

   SR NO    NAME                Address          0           1          2
0      1   Akash   New Jersey-123456789 -8719 days -10828 days -2109 days
1      2   Astha     New York 123456789 -7873 days  -8244 days  -371 days
2      3   Ayush   California-123456789 -7476 days  -7756 days  -280 days
3      4  Ankita         Rome-987654321 -7490 days  -9831 days -2341 days
4      5  Ashwin       Madrid 123456178 -8189 days -10137 days -1948 days

In [ ]:
# Q2.1) Write a function in python that drop columns having Pearson correlation more than 0.85

In [ ]:
corr_matrix = df.corr().abs()
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.85)]

In [ ]:
df.drop(df[to_drop], axis=1)

   SR NO     NAME                Address           0           1          2
0      1    Akash   New Jersey-123456789  -8719 days -10828 days -2109 days
1      2    Astha     New York 123456789  -7873 days  -8244 days  -371 days
2      3    Ayush   California-123456789  -7476 days  -7756 days  -280 days
3      4   Ankita         Rome-987654321  -7490 days  -9831 days -2341 days
4      5   Ashwin       Madrid 123456178  -8189 days -10137 days -1948 days
5      6     Amit     Malmo ff 435612789 -44165 days -45215 days -1050 days
6      7   Arastu     Amsterdam 12907856  -8277 days  -9224 days  -947 days
7      8   Ojasvi       Gnoida 203040506  -7276 days  -8828 days -1552 days
8      9   Utkrsh           Delhi 110092  -7821 days -11261 days -3440 days
9     10  Utkarsh           Delhi 110092  -7821 days -11261 days -3440 days

In [ ]:
df.columns

Index(['SR NO', 'NAME', 'Address', 0, 1, 2], dtype='object')

In [ ]:
# Q3.1) Write an explanation about how operations like imputation does, feature selection, normalization etc. changes across the training and the testing data. For example, do you do imputation separately for training and testing set…?

In [ ]:
#Explanation about how operations like 1) imputation      2) feature selection   3)Normalization

#    1) Imputation is the process of replacing missing data with substituted values. When substituting for a data point, it is known as "unit imputation"; when substituting for a component of a data point, it is known as "item imputation".
# Imputaion is the division between training and test set is an attempt to replicate the situation where we have past information and are building a model which we will test on future as-yet unknown information,the training set takes the place of the past and the test set takes the place of the future, so we only get to test our trained model once.
# Keeping the past/future analogy in mind, this means anything we do to pre-process or process our data, such as imputing missing values, we should do on the training set alone. We can then remember what we did to our training set if our test set also needs pre-processing or imputing, so that we do it the same way on both sets.
#    2) Feature selection, also known as variable selection, attribute selection or variable subset selection, is the process of selecting a subset of relevant features for use in model construction. 
# Feature Selection,it is clear that feature selection (FS) have to be done separately on training and then on test data to avoid overly optimistic results.
# Feature Selection is the process where you automatically or manually select those features which contribute most to your prediction variable or output in which you are interested in. Having irrelevant features in your data can decrease the accuracy of the models and make your model learn based on irrelevant features.
#    3) Normalization,we need to apply normalisation to test data, if our algorithm works with or needs normalised training data*.
# That is because our model works on the representation given by its input vectors. The scale of those numbers is part of the representation. This is a bit like converting between feet and metres . . . a model or formula would work with just one type of unit normally.
# Not only do we need normalisation, but we should apply the exact same scaling as for our training data. That means storing the scale and offset used with our training data, and using that again. A common beginner mistake is to separately normalise your train and test data.
# Yes,Imputation should be done seperately for Training and Testing Phase. Keeping the past/future analogy in mind.
# Operations like Imputation,feature selection,normalization does change accross Training and Testing Data.

In [ ]:
# Q4.1) How to you speed up a python code?

In [ ]:
#1) Local variables are faster than global variables.So we should use local variables more to speed up python code.
#2) simply put the scripting statements in a function.
#3) Reducing Memory Footprint.
#4) Using the built In Functions and Libraries.
#5) Data Structures basics is really important for speeding up the code.

In [ ]:
  # Q5.1) Write a python function that extract zip code from an address column.

In [ ]:
df3=pd.read_excel('Dummy2.xlsx')

In [ ]:
address=df3.apply(lambda row: row.astype(str).str.contains('^\d+\s[A-z]+\s[A-z]+').any(), axis=0)

In [ ]:
address

address            True
Unnamed: 1        False
name              False
payment_option    False
mobile            False
srno              False
website           False
Unnamed: 7        False
dtype: bool

In [ ]:

df3['zip'] = df3['address'].str.extract(r'([0-9]{5})-?(?!.*[0-9]{5}-?)')

In [ ]:
df3["zip"]

0      55437
1      55437
2      55437
3      55437
4      55437
       ...
132    55439
133    55439
134    55439
135    55439
136    55439
Name: zip, Length: 137, dtype: object

In [ ]:
# Q6.1) Write a python function to address typos in a column

In [ ]:
#According to me we will have to introduce a dictionary for every dataset from which the function or python can address the typos without which I do not know how to address the Typos.
#And If I am wrong please correct me and let me know how this part of the asssignment can be done.

In [ ]:
pip install pyspellchecker

Collecting pyspellchecker
  Downloading https://files.pythonhosted.org/packages/04/d1/ec4e830e9f9c1fd788e1459dd09279fdf807bc7a475579fd7192450b879c/pyspellchecker-0.5.4-py2.py3-none-any.whl (1.9MB)
     |████████████████████████████████| 1.9MB 2.7MB/s
Installing collected packages: pyspellchecker
Successfully installed pyspellchecker-0.5.4

In [ ]:
from spellchecker import spellchecker

In [ ]:
#The main problem according to me will be that to know about what is correct and what is incorrect so for that purpose we will check all the other values if all are same then we can use dictionaries to find the correct one of the two but dictionaries will be different for all the different datasets.
#thank you